flask
langchain 
Langchain_classic 
requests
langchain_openai
langchain_community
langdetect
SpeechRecognition
torch
torchvision
torchaudio
gtts
langchain
redis
sentence-transformers
librosa
gunicorn
openai_whisper
pydub
langchain_pinecone
