accelerate
aiodns
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
attrs
audioread
backoff
backports.zstd
beautifulsoup4
blinker
brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cryptography
dataclasses-json
datasets
decorator
dill
distro
emoji
filelock
filetype
Flask
frozenlist
fsspec
gitdb
GitPython
greenlet
gTTS
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-text-splitters
langdetect
langsmith
lazy_loader
librosa
llvmlite
lxml
Markdown
MarkupSafe
marshmallow
more-itertools
mpmath
msgpack
multidict
multiprocess
mypy_extensions
narwhals
networkx
nltk
numba
numpy
openai
openai-whisper
orjson
packaging
pandas
pillow
pinecone-client
platformdirs
pooch
propcache
protobuf
psutil
pyarrow
pyarrow-hotfix
pycares
pycparser
pydantic
pydantic_core
pydeck
pydub
pypdf
python-dateutil
python-dotenv
python-iso639
python-magic
pytz
PyYAML
RapidFuzz
redis
referencing
regex
requests
requests-toolbelt
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
soundfile
soupsieve
soxr
SpeechRecognition
SQLAlchemy
streamlit
streamlit-audiorec
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
torchaudio
torchcodec
tornado
tqdm
transformers
triton
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
watchdog
Werkzeug
wrapt
xxhash
yarl
